package $controllerpackage;

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

import $entityClass.fullName;
import dwf.web.controller.BaseCrudController;

@Controller
@RequestMapping("/${entityClass.name.toLowerCase()}/")
public class ${entityClass.name}Controller extends BaseCrudController<${entityClass.name}, Long> {

	public ${entityClass.name}Controller() {
		super(${entityClass.name}.class);
	}

}
